body {
    text-align: center;
    font-family: cursive;
    color: #FFFFFF;
}

h1 {
    font-size: 80px;
}

h2{
    font-size: 50px;
}


li {
    padding: 15px 15px;
    border: ridge;
    background-color: transparent;
    background-color: #0FC3DC;
    font-size: 50px;
    font-family: inherit;
    
}